{:paths ["notebooks" "resources"]
 :deps  {com.illposed.osc/javaosc-core {:mvn/version "0.8"}
         org.clojure/clojure {:mvn/version "1.11.1"}
         io.github.nextjournal/clerk {:git/sha "9afbd50dd7e2ccc7b190cd5aac848f57758ce9f7"}}
 :aliases
 {:nextjournal/clerk
  {:exec-fn nextjournal.clerk/build-static-app!
   :exec-args
   {:paths   ["notebooks/osc_spirograph.clj"]
    :browse? false
    :bundle? false}}}}
