{:paths ["notebooks" "resources"]
 :deps  {com.illposed.osc/javaosc-core {:mvn/version "0.8"}
         io.github.nextjournal/clerk   {:mvn/version "0.8.445"}}
 :aliases
 {:nextjournal/clerk
  {:exec-fn nextjournal.clerk/build-static-app!
   :exec-args
   {:paths   ["notebooks/osc_spirograph.clj"]
    :browse? false
    :bundle? false}}}}
